.App {
  text-align: center;
  
}
.processArea{
  margin: 24px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.tableRow{
 display: flex;
 justify-content: center;
}
.tableArea{
  border-spacing: 24px;

}
table, th, td {
  border: 2px solid yellowgreen;
  border-collapse: collapse;
  color: white;
}